@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
    header 
        .navbar 
            .nav-link
                font-size: 13px
        .info-box 
            .phone
                font-size: 16px
    .form 
        input[type=submit], input
            font-size: 16px
// ≥992px
+media-breakpoint-down(md)
    .main-screen 
        h1
            font-size: 40px
        .desc-section
            font-size: 25px
    .second-screen
        h2
            font-size: 25px
        h3
            font-size: 20px
        .price-wrapper 
            .price-banner
                font-size: 30px
                line-height: 1.5
        h4
            margin-top: 15px
    .room-wrapper
        margin: 0
    .room-card
        margin: 10px auto

// ≥768px
+media-breakpoint-down(sm)
    .main-screen 
        h1
            font-size: 26px
        .desc-section
            font-size: 20px
        .socials-main
            margin: 15px auto
            padding: 10px 0
            background: rgba(255,255,255,.8)
        .service-block
            display: none
    .second-screen
        h2
            margin-bottom: 20px
        .after
            &:after
                margin: 15px auto auto auto
        .price-wrapper 
            .price-banner
                text-align: center
                margin: 5px auto
        h4
            margin: 10px auto
            text-align: center!important
        .grp
            text-align: center
    .hostels-btn-wrapper
        a
            margin-left: 0
            margin-top: 15px
    .hostel-tabs
        .adress-nav
            padding-left: 15px
    .adresses-wrapper
        br
            display: none
    footer
        .textwidget
            margin-bottom: 30px
    
// ≥576px
+media-breakpoint-down(xs)
    .btn-order
        font-size: 18px
    .address-on-main
        margin-left: 5px
        br
            display: none
    .main-phone-small
        margin-left: 5px
    .reviews-controls
        display: none
        
            
@media screen and (max-width: 480px)
    .mobile-navbar
        .navbar-brand
            img
                width: 54px
    .hamburger-inner, .hamburger-box
        width: 24px
        border-radius: 0
        &::before
            width: 24px
            border-radius: 0
        &::after
            width: 24px
            border-radius: 0
    .main-screen 
        h1
            line-height: 1
        .desc-section
            font-size: 14px
        .address-on-main
            font-size: 14px
    .second-screen 
        h3
            font-size: 13px
        h4
            font-size: 14px
        .dotted-underline
            font-size: 8px
    .room-card 
        .room-price
            font-size: 20px
        .room-link, p, .btn
            font-size: 12px
    .rooms-wrapper 
        h3
            height: auto
            margin-bottom: 0
        h4
            font-size: 14px
    .popup 
        h2, span
            font-size: 17px
        .form
            input
                margin: 5px auto
            .form-group
                margin-bottom: 0
                
@media screen and (max-width: 379px)
    .checkmark
        margin-right: 5px
        width: 15px
    .main-phone-small
        width: 18px
    .popup
        h2, .room-type
            font-size: 15px
        p
            font-size: 14px
    .room-card
        .col
            padding: 0 3px!important
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
