@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
a, button, .btn
    &:focus
        box-shadow: none
        outline: none
    
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold
h1, h2, h3, h4, h5, h6 
    line-height: 1.3
    
h1,p,a,span
    color: white
a
    &:hover
        color: #fff
i
    &:before    
        font-family: fontAwesome
        font-style: normal
    
.red
    color: #ef4b51
    .phone-to
        color: #ef4b51
.fixed-header
    background: #fff
    padding: 10px 0
.absolute-button
    position: absolute
    right: 0
.absolute-button__bottom
    position: absolute
    bottom: 0
    
.hamburger-inner, .hamburger-inner
    background: #ef4b51
    &::after
        background: #ef4b51
    &::before
        background: #ef4b51
    
    
header
    height: 100px
    a, span
        color: #000
        &:hover
            color: #000
    .navbar-brand
        padding-top: 0
        padding-bottom: 0
        img
            width: 100%
    .navbar
        padding-top: 0
        padding-bottom: 0
        background: #fff
        //box-shadow: 0px 1px 0px 0px #000
        .nav-link
            font-family: OpenSansSemiBold
            text-decoration: underline
            font-size: 14px
        .dropdown-menu
            background: #00000085
            .dropdown-item
                color: #fff
                &:hover
                    background-color: #f5f5f51c
    .hdr-btn-wrapper
        button
            background: #ef4b51
            color: #fff
            font-family: Open Sans
            font-size: 14px
            font-weight: 400
            border-radius: 0
            width: 175px
            text-align: center
    .socials-header
        img
            width: 100%
            max-width: 24px
            margin: auto 8px
    .info-box
        a, span
            font-size: 14px
            font-weight: 700
            font-family: OpenSansSemiBold
        .phone
            font-family: OpenSansExtraBold
            font-size: 18px
    .red-separator
        padding-left: 5px
        margin-left: 2px
        border-left: 1px solid #ff4c52
    .padr-5
        padding-right: 5px
    
.main
    background: url('../images/main.png')
    background-position: center
    background-size: cover
        
    
.viber
    color: #a866e9
    &:hover
        color: #a866e9
.whatsapp
    color: #49ab08
    &:hover
        color: #49ab08
.service-img
    margin-bottom: 20px
 
.popover-btn
        background: #fff
        border: none
.popover-close
    width: 15px
    height: 15px
    padding: 0
    border: none
    background: transparent
    &:hover
        cursor: pointer
    img
        display: block
        width: 15px
        height: 15px    
    
.main-screen
    padding: 55px 0
    .info-box-main
        margin-top: 60px
        margin-bottom: 45px
        .info-box-first
            margin-bottom: 45px
    h1
        font-family: OpenSansExtraBold
        color: #fefefe
        font-size: 64px
        font-weight: 700
        letter-spacing: 3px
        line-height: 70px
        text-transform: uppercase
        margin-bottom: 20px
    .desc-section
        font-family: OpenSansSemiBold
        color: #fff
        font-size: 32px
        font-weight: 600
        margin-bottom: 0
        .rub
            color: #fff!important
    .adresses-wrapper
        margin: 10px 0
    .service-block
        margin: 30px 0
        .service-box
            &:hover
                cursor: pointer
.service-img
    img
        width: 75px
        height: 75px
        
.rub
    font-family: Open Sans, sans-serif
    color: #000!important
.checkmark
    margin-right: 10px
.btn-order
    height: 70px
    color: #fff
    background-color: #ff4c52
    font-family: OpenSansRegular
    color: #fefefe
    font-size: 24px
    font-weight: 400
    border-radius: 0
    &:hover
        text-decoration: underline
    
.second-screen
    h2
        font-family: OpenSansBold
        color: #2b2a29
        font-size: 48px
        font-weight: 700
        line-height: 36px
        padding-top: 70px
        margin-bottom: 70px
    .after
        &:after
            content: ''
            background-color: #ff4c52
            width: 87px
            height: 9px
            display: block
            margin: 25px auto auto auto
    h3
        font-family: Open Sans
        font-size: 25px
        font-weight: 700
    h4
        font-family: Open Sans
        font-size: 18px
        font-weight: 400
        margin-top: 15px
        margin-bottom: 90px
    .order-hostel
        font-weight: 700
    .grp
        span
            color: #272625
            font-weight: 500
            font-family: Open Sans
            font-size: 16px
    .price-wrapper
            .price-banner
                font-family: Open Sans
                color: #2b2a29
                font-size: 42px
                font-weight: 700
                text-align: left
                background-color: #ffffff
                line-height: 74px
                margin-bottom: 0px
    
    .dotted-underline
        font-family: OpenSansSemibold
        color: #f74f54!important
        font-size: 16px
        border-bottom: 3px dotted #f74f54
    .rooms-count
        color: #272625
        font-weight: 500
        font-family: Open Sans
        margin-bottom: 0px
        font-size: 16px
        margin-top: 8px
    .img-wrapper
        img
            border-radius: 50%
            max-width: 100%
            width: auto
            height: auto
            display: block
            margin: 0 auto
.room-wrapper
    margin-bottom: 20px
.room-card
    border: 1px solid #e5e5e5
    p, .room-link
        color: #000
        text-align: left
        font-weight: 500
        font-family: Open Sans
        margin-bottom: 0px
        font-size: 16px
        span
            color:#f74f54
    p
        margin: 4px auto
    .room-price
            font-size: 24px
            line-height: 42px
            font-weight: 400
    .btn
        width: 165px
        height: 35px
        font-family: Open Sans
        font-size: 16px
        font-weight: 400
        text-align: center
.third-screen
    padding: 100px 0
    background: url('../uploads/2015/03/hostel-service-bg.jpg')
.bullit-box
    text-align: center
    .title-box 
        font-family: "Open Sans"
        color: #ff4c52
        font-size: 18px
        font-weight: 700
        line-height: 20px
        margin-bottom: 20px
        margin-top: 25px
    .desc-box 
        font-family: "Open Sans"
        color: #fefefe
        font-size: 16px
        font-weight: 400
        line-height: 20px
.fourth-screen
    background-color: #1abc9c
    padding-top: 80px
    padding-bottom: 45px
    .relative
        position: relative
    h3
        color: #fff
        text-transform: uppercase
        letter-spacing: 3px
        font-family: OpenSansBold
        font-size: 48px
        &:after
            content: ''
            background-color: #fff
            width: 87px
            height: 9px
            display: block
            margin: 0 auto
            margin-top: 25px
  
.reviews-controls
    position: absolute
    right: 0
    top: 10%
    i
        color: #fff
        font-size: 20px
        margin: 25px
        &:hover
            cursor: pointer
    
.icon-angle-left
    &:before 
        content: "\f104"
.icon-angle-right
    &:before
        content: "\f105"
        
.review
    p
        font-family: Open Sans
        font-size: 16px
        margin-bottom: 20px
    .review-author
        margin-top: 15px
        font-size: 17px
        font-style: italic
        letter-spacing: 1px
        &:before
            display: block
            font-family: FontAwesome
            content: "\f0dd"
            font-size: 13px
            margin-bottom: 9px
    
footer
    padding: 70px 0
    background: #1e1e1e
    h4
        color: #fff
        margin-bottom: 35px
        font-size: 14px
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 2px
    i
        margin-right: 10px
    .fa-phone
        &:before
            content: "\f095"
    .fa-envelope-o
        &:before
            content: "\f003"
    .fa-facebook
        &:before
            content: "\f09a"
    .fa-vk
        &:before
            content: "\f189"
    .fa-instagram
        &:before     
            content: "\f16d"
        
//room pages
.room-heading
    background: url('../images/room-name-bg.png')
    background-size: cover
    padding: 75px 0
    h2
        color: #fff
        font-family: OpenSansSemiBold
        font-size: 24px
        font-weight: 700
        line-height: 30px
        letter-spacing: 2.4px
        margin-bottom: 0
        span
            color: inherit!important
.hostel-heading
    background: url('../uploads/2016/04/комната-на-1-или-двоих-без-удобств-1.jpg')
    background-size: cover
.room-info
    padding: 75px 0

.slide-thumb-big
    img
        width: 100%
        height: 100%
        max-height: 450px
.slide-thumb
    img
        width: 100%
        max-height: 100%
    
.sticky-top.sticky-offset
    top: 120px
.sidebar-form-wrapper
    h3
        color: #2b2a29
        font-family: Open Sans
        font-size: 21px
        font-weight: 700
        text-transform: uppercase

.form
    padding: 10px 0
    input
        border: 1px solid #cec9c9
        border-radius: 0
        height: 50px
        width: 100%
        margin: 10px auto
    input[type="date"]
        &::-webkit-calendar-picker-indicator
            opacity: 1
        &::-webkit-inner-spin-button
            display: none
    input[type="submit"]
        height: 60px
        font-size: 18px
    p
        color: #000
        margin-bottom: 0
        
.collapse-info
    h4
        a
            color: #000
            font-size: 14px
            text-transform: uppercase
    p, ul
        color: #000
        font-size: 12px
    .panel
        border: 1px solid #cec9c9
        padding: 10px 30px 10px 14px
        margin: 10px auto
//hostel pages
.hostel-heading
    .btn-order
        font-size: 18px
        height: 50px
.hostel-adress
    font-family: OpenSansSemibold
    color: #f74f54
    font-size: 16px
    margin-bottom: 25px
    img
        width: 16px
.rooms-wrapper
    padding: 55px 0
    h3
        font-size: 20px
        margin: 15px 0
        height: 55px
.room-card-preview
    border: none
    margin-bottom: 40px
    .room-avatar
        width: 100%
    .order-room-btn
        font-weight: 600
        width: 215px
        height: 45px
.no-room-founded
    margin: 30px 0
.hostels-btn-wrapper
    a
        color: #000
        margin-left: 15px
//gallery pages
.gallery-wrapper
    padding: 50px 0
.gallery-item
    margin: 15px 0
    img
        width: 100%
        height: 100%
        max-height: 240px
//contact-page
.contacts-screen
    p, span
        color: #000
.hostel-tabs-wpapper
    margin: 30px 0
.hostel-tabs
    margin-top: 20px
    .station-name
        a
            color: #000!important
            text-decoration: none
.card-wrapper
    margin: 20px 0
.transport-item
    p
        margin-bottom: 0
    img
        margin-right: 10px
//popup
.popup
    display: none
    width: 100%
    max-width: 630px
    h2
        font-size: 21px
        color: #000
        text-transform: uppercase
    p
        font-size: 18px
        color: #000
    span
        font-size: 21px
        color: #000
        text-transform: uppercase
    .form
        padding: 0
.popup-find
    max-width: 420px
@import "media" // Always at the end
